/*importation police*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*info page*/

body{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    font-family: "Raleway", "Sans sherif";
}



/*HEADER - Logo-Menu*/
.logo-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    margin-right: 3em;
}

.logo {
    cursor: pointer;
    margin-top: 1em;
    margin-left: 1em;
}

.logo img{
    width: 125px;
    height: 62.5px;
}

.menu ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: 1em;
    color: black;
}
  
.menu ul li {
    margin-right: 1em;
    margin-left: 1em;
}

.menu ul li a:hover {
    border-top: 2px solid #0065fc;
    padding-top: 35px;
    color: #0065fc;
}
   
.menu a {
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
    color: black;
    font-size: 20px;
}
  
.inscrire a {
    color: #0065fc;
    margin-right: 0%;
    font-weight: bold;
}
  
.inscrire a:hover {
    border-top: 2px solid #0065fc;
    padding-top: 35px;
    
}
  
.inscrire {
    margin-top: 1em;
    padding-left: 28px;
}
  
 

/*HEADER - Recherche*/
.recherche {
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 15px;
}
.texte_recherche p{
    font-size: 15px
}

.barre_recherche{
    display: flex;
    width: auto;
    border: 3px solid white;
    border-radius: 15px;
    width: 400px;
    overflow: hidden;
    justify-content: space-between ;
    height: 2.5em;  
}

.fa-map-marker-alt{
    background-color: #F2F2F2;
    padding: 0.8em 0.9em 0.9em 0.9em;
    height: 2em;

}
.bouton_recherche p{
    border-radius: 0px 18px 18px 0;
    padding: 5px 5px 5px 5px;
    background-color: #0065fc;
    color: white;
    height: 2.5em;
    cursor: pointer;
    display: center;
}

.barre_recherche input{
    border: 1px solid #F2F2F2;
    width: 24em;
    
}

.barre_recherche input:focus{
    outline: none;
}

#city-search::placeholder{
    color: black;
    font-weight: bold;
}
   
.bouton_recherche i {
    display: none;
}



/*HEADER - Filtres*/
.choix_filtres{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.bouton_filtre{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: max-content;
    margin-right: 2em;
    border : 2px solid #F2F2F2;
    border-radius: 50px;
    background-color: white;
    height: 2.1em;
    padding-right: 1em;
    justify-content: space-between;
}

.choix_filtres :hover {
    background-color:#DEEBFF;
    cursor: pointer;
}

.filtres{
    display: flex;
    justify-content: space-around;
    
    width: min-content;
    align-items: center;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    margin-left: 2em;
}

.titre_filtre{
    margin-right: 2em;  
}

.titre_filtre h3{
    font-size: 23px;
}

.filtres p{
    font-size: 23px;
    font-weight: bold;
}

.choix_filtres i{
    color :#0065FC;
    margin-right: 1em;
    background-color: #DEEBFF;
    border: 3px solid #DEEBFF;
    border-radius: 50px;
    width: 1.9em;
    height: 1.9em;
    display: flex;
    justify-content: center;
    align-items: center;
}



/*HEADER - Info*/
.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 2em;
    margin-right: 2em;
    margin-left: 2em;
}

.info i{
    color: #0065FC;
    border: 1px solid #F2F2F2;
    border-radius: 50px;
    width: 1.5em;
    height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
}

 .info p{
    font-size: 15px;
}




/*HEBERGEMENTS + POPULAIRES*/
h3{
    font-weight: bold;
    font-size: large;
}

h2{
    font-size: 23px;
    font-weight: bold;
    margin-top: 1.5em;
    
   
}
p{
    font-size: small;
}

#central{
    height: 700px;
    width: 96vw ;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-bottom: 2em;
}

.etoiles {
    color: #0065FC;
    display: flex;
   
}

.etoileoff{
    display: flex;
    color: #e4e3e3;
}



/*HEBERGEMENTS Populaires*/
.populaires{
    background-color: #F2F2F2;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    width: 29%;
    height: 749px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#populaire_haut{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 2em;
    margin-right: 2em;

}
#populaire_haut i{
    margin-top: 20px;
}

.hotel_populaire {
    display: flex;
    flex-direction: row;
    border: 4px solid white;
    border-radius: 25px;
    background-color: white;
    overflow: hidden;
    height: 11em;
    margin: 1em 1.5em 2em 1.5em;
    box-shadow: 0 0 0.5em rgb(226, 226, 226);
}

.hotel_populaire img {
    width: 45%;
    max-height: max-content;
    object-fit: cover;

}

.description_populaire {
    margin-left: 1.5em;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    
}

.description_populaire h3{
    margin: 0.5em 0.5em 0.2em 0.3em;
}

.description_populaire p{
    margin: 0em 0.5em 5em 0.4em;
}

.description_populaire .etoiles{
    margin: 0.1em 0.1em 0.1em 0.3em;
}
.lien_pop{
    text-decoration: none;
    color: black;
}



/*HEBERGEMENTS Simples*/
.hebergement{
    width: 68%;
    height: 47em;
    background-color: #F2F2F2;
    border-radius: 25px;
}

.hebergement h2 {
    margin-left: 1em;
    margin-top: 1.5em;
    margin-bottom: 37px;
    font-size: 23px;
    font-weight: bold;
}

.grid_herbergement{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0.5em;
    position: relative;
    justify-content: space-around;
    align-items: center;
    
}

.lien_hebergement {
    background-color: white;
    width: 30%;
    height: 16em;
    border-radius: 25px;
    text-decoration: none;
    color: black;
    margin-bottom: 2em;
    box-shadow: 0 0 0.5em rgb(226, 226, 226);
    border: 4px solid white;
}

.hotel_hebergement img{
    width: 100%;
    height: 11em;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;  
}

.description_hebergement{
    display: flex;
    flex-direction: column ;
    align-items: flex-start;
    margin: 0em 0em 5em 0.5em;
    max-height: max-content;
}

.description_hebergement h3{
    margin: 0.5em 0.5em 0.2em 0.5em;
}

.description_hebergement p{
    margin: 0em 0.5em 0.5em 0.6em;
}

.description_hebergement .etoiles{
    margin: 0.1em 0.1em 0.1em 0.5em;
}

.hebergement a{
    text-decoration: none;
    color: black;
    
}

.hebergement .afficherplus {
    text-decoration: none;
    font-weight: bold;
    color: black;
    margin-left: 1.5em; 
}



/*ACTIVITES*/
.activites{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden; 
}

.activites h2{
    margin-top: 3em;
    margin-left: 2em;
    font-size: 23px;
}

.activites h3{
    margin-bottom: 27px;
    font-size: large;
}

.grid_activites{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 43em;
    justify-content:flex-start;
}

.grid_activites a{
    text-decoration: none;
    color: black;
}

.colonne_activite1{
    width: 20%;
    margin-right: 2.5em;
    margin-left: 3em;
}
.activite1{ 
    width: 100%;
    overflow: hidden;
    height: 40em;
    border-radius: 25px;
    box-shadow: 0 0 0.5em rgb(226, 226, 226);
}

.activite1 img{
    width: 100%;
    height: 36em;
    object-fit: cover;
}

.activite1 h3{
    margin-left: 1em;
}

.colonne_activite2{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-right: 2.5em;
}

.colonne_activite2 .activite2{
   
    height: 25em;
    width: 100%;
    border-radius: 25px;
    box-shadow: 0 0 0.5em rgb(226, 226, 226);
    margin-bottom: 2em;
    overflow: hidden;
}

.colonne_activite2 h3{
    margin-left: 1em;
}

.colonne_activite2 .activite2 img{
    height: 21em;
    width: 100%;
    object-fit: cover;
}

.colonne_activite2 .activite3{
   
    height: 13em;
    width: 100%;
    border-radius: 25px;
    box-shadow: 0 0 0.5em rgb(226, 226, 226);
    overflow: hidden;
}

.colonne_activite2 .activite3 img{
    height: 9em;
    width: 100%;
    object-fit: cover;
}

.colonne_activite3{
    width: 20%;
    margin-left: 0;
    margin-right: 2.5em;
}
.activite4{
    
    width: 100%;
    overflow: hidden;
    height: 40em;
    border-radius: 25px;
    box-shadow: 0 0 0.5em rgb(226, 226, 226);
    
}

.activite4 img{
    width: 100%;
    height: 36em;
    object-fit: cover;
}

.activite4 h3{
    margin-left: 1em;
}

.colonne_activite4{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-right: 3em;
   

}

.colonne_activite4 .activite5{
   
    height: 20em;
    width: 100%;
    border-radius: 25px;
    box-shadow: 0 0 0.5em rgb(226, 226, 226);
    margin-bottom: 2em;
    overflow: hidden;
}

.colonne_activite4 h3{
    margin-left: 1em;
}

.colonne_activite4 .activite5 img{
    height: 16em;
    width: 100%;;
    object-fit: cover;
}

.colonne_activite4 .activite6{
   
    height: 18em;
    width: 100%;
    border-radius: 25px;
    box-shadow: 0 0 0.5em rgb(226, 226, 226);
    overflow: hidden;
}


.colonne_activite4 .activite6 img{
    height: 14em;
    width: 100%;
    object-fit: cover;
}

/*FOOTER*/

footer{
    background-color: #F2F2F2;
    display: flex;
    justify-content:flex-start;
    height: 12em;
    padding-top: 1em;
    margin-top: 2em;
    width: 100%;
    
}

.apropos{
    display: flex;
    flex-direction: column;
    margin-left: 3em;
    margin-right: 25vw;
    
    
}

.apropos a{
    text-decoration: none;
    color :black;
    margin-bottom: 1em;
}


.noshebergements{
    display: flex;
    flex-direction: column; 
    margin-right : 25vw;
}

.noshebergements a{
    text-decoration: none;
    color :black;
    margin-bottom: 1em;
}

.assistance{
    display: flex;
    flex-direction: column;  
}

.assistance a{
    text-decoration: none;
    color :black;
    margin-bottom: 1em;
}

/* SMARTPHONES */

@media (min-width: 320px) and (max-width: 600px)  {

    /*HEADER*/
    header {
        margin: 0;
        width: 100%;
        padding-left: 0px;
    }

    /*HEADER - Logo-Menu*/
    
    .logo-menu {
        display: grid;
        width: 100%;
    }
    

    .logo{
        margin-left: 1em;
    }
    
    .inscrire {
        position: absolute;
        top: 43px;
        right: 15px;
    }
    
    .menu {
        display: flex;
        justify-content: space-around;
        align-items:center;
        width: 100%;
        margin-top: 0px;
        margin-right: 0;
        margin-left: 0;
    }
    
    .menu ul {
        border-bottom: 2px solid #f2f2f2;
        padding-bottom: 5px;
        margin-top: 1em;
    }
    
    .menu ul li {
        margin-left: 0em;
        margin-right: 0;
        
    }
    
    .menu .nav1{

        padding: 10px 25px 5px 31px;
    }

    .menu .nav2{
        
        padding: 10px 55px 5px 45px;
    }

    .menu ul li a:hover {
        border-bottom: 2px solid #0065fc;
        border-top: none;
        padding-bottom: 5px;
    }

    .inscrire a:hover {
        border-top: none;
    }
        
    .inscrire{
        margin-right: 1em;
    }    

    /*HEADER - Recherche*/

    .recherche{
        
        margin-left: 1em;
    }

    .text_recherche{
        width: 85vw;
    }
    .barre_recherche{
        width: 85%;
    }

    .bouton_recherche{
        width: 30px;
    }


    .bouton_recherche i {
        display: inline;
        color: white;
        background-color: #0065fc;
        padding: 18px;
        border-radius: 18px;
        position: relative;
        right: 52px;
    }
    
    .clique_recherche {
        display: none;
    }
    
   
    /*HEADER - Filtres*/

    .choix_filtres{
        display: flex;
        flex-flow: row wrap;
        margin-right: 0;
        
    }

    .bouton_filtre{
        margin-bottom: 1em;
        margin-right: 0em;
    }

    .filtres{
        display: flex;
        flex-direction: column;
        margin-left: 1em;
        align-items: flex-start;
        margin-right: 0em;
        width: 95%;
        
        overflow: hidden;
        
    }

    .filtres p{
        font-size: 15px;
        font-weight: bold;
    }

    .titre_filtre{
        margin-right: 0;
    }

    /*HEADER - Info*/

    .info{
        margin-left: 1em;
        margin-right: 0;
        padding-right: 1em;
    }

    /*HEBERGEMENTS + POPULAIRES*/

    #central{
        height: auto;
        width: 98vw ;

        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 2em;
    }

    /*HEBERGEMENTS Populaires*/
    .populaires{
        width: 100%;
        height: auto;
        margin-bottom: 2em;
        margin-left: 0%;
        border-radius: 0px;
        margin-right: 0;
    }       

    .hotel_populaire{
        height: 10em;
    }
    .description_populaire h3{
        font-size: 15px;
    }
    
    /*HEBERGEMENTS Simples*/
    .hebergement{
        width: 100%;
        height: auto;
        background-color: white;
        border-radius: 25px;  
    }

    .grid_herbergement{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .lien_hebergement {
        width: 90%;
        height: 13em;  
        padding-bottom: 5px;
    }

    .hotel_hebergement img{
        height: 8em;
    }

    /*ACTIVITE*/

    .grid_activites{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto; 
    }

    .activites h2{
        margin-left: 1em;
        margin-top: 1em;
    }


    .colonne_activite1{
        width: 100%;
        height: 15em;
        margin-bottom: 2em;
        margin-left: 0;
        
    }

    .activite1{  
        width: 90%;
        height: 15em;
        margin-bottom: 2em; 
        margin-left: 1em; 
    }
    
    .activite1 img{
        height: 11em;
        width: 100%;
    }
    
    .colonne_activite2{
        width: 100%;
        margin-bottom: 2em; 
    }
    
    .colonne_activite2 .activite2{  
        height: 15em;
        width: 90%;
        margin-left: 1em;
    }
    
   
    .colonne_activite2 .activite2 img{
        height: 11em;
        width: 100%; 
    }
    
    .colonne_activite2 .activite3{
        height: 15em;
        width: 90%;
        margin-left: 1em;
    }
    
    
    .colonne_activite2 .activite3 img{
        height: 11em;
        width: 100%;
    }
    
    .colonne_activite3{
        width: 100%;
        margin-bottom: 2em;
    }

    .activite4{
        width: 90%;
        height: 15em; 
        margin-left: 1em;
    }
    
    .activite4 img{
        width: 100%;
        height: 11em; 
    }

    .colonne_activite4{  
        width: 100%;
        margin-right: 0;
    }
    
    .colonne_activite4 .activite5{  
        height: 15em;
        width: 90%;
        margin-left: 1em;
    }
    
    .colonne_activite4 .activite5 img{
        height: 11em;
        width: 100%;
    }
    
    .colonne_activite4 .activite6{  
        height: 15em;
        width: 90%; 
        margin-left: 1em;
    }
    
    .colonne_activite4 .activite6 img{
        height: 11em;   
    }

    /*FOOTER*/
    footer{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
  
    }
    
    .apropos{
        display: flex;
        flex-direction: column;
        margin-left: 2em;
        margin-bottom: 2em;
         
    }
    
    .apropos a{
        text-decoration: none;
        color :black;
        margin-bottom: 1em;
    
    }
    
    
    .noshebergements{
        display: flex;
        flex-direction: column; 
        margin-bottom: 2em;
        margin-left: 2em;
    }
    
    .noshebergements a{
        text-decoration: none;
        color :black;
        margin-bottom: 1em;
    }
    
    .assistance{
        display: flex;
        flex-direction: column;  
        margin-left: 2em;
        margin-bottom: 2em;
    }
    
    .assistance a{
        text-decoration: none;
        color :black;
        margin-bottom: 1em;
    }
}



