/*importation police*/
@font-face
{
    font-family: "Raleway";
    src: url(police/Raleway-VariableFont_wght.ttf);
}

/*info page*/


body{
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    font-family: "Raleway", "Sans sherif";
}

.logo{
    width: 125px;
    height: 62.5px;
    margin-top: 1em;
    margin-left: 3em;
    margin-bottom: 1.5em;
}

nav ul{
    list-style-type: none;
    display: flex;
    margin-top: 2em;
    margin-right: 4em;
}


header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

   
}

.nav1, .nav2, .nav3{
    text-decoration: none;
    padding: 30px 20px 5px 20px;
    font-size : 20px;
}
.nav1, .nav2{
    color: black;
    margin-right: 3em;
}

.nav3{
    font-weight: bold;
    color: #0065FC;
}

header a:hover{
    color: #0065FC;
    border-top: 2px solid #0065FC;
    
}

/*section recherche*/

.recherche{
    margin-right: 2em;
    margin-left: 3em;
}

.fa-map-marker-alt{
    background-color: #F2F2F2;
    padding: 0.9em 0.9em 0.9em 0.9em;
    height: 3em;

}

.barre_recherche a{
    background-color: #0065FC;
    color: white;
    vertical-align: top;
    width: 10em;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.barre_recherche{
    display: flex;
    width: auto;
    border: 3px solid white;
    border-radius: 10px;
    width: 400px;
    overflow: hidden;
    justify-content: space-between ;
    height: 3em;
    
}

.barre_recherche input{
    border: 1px solid #F2F2F2;
    width: 18em;
    
}

.barre_recherche input:focus{
    outline: none;
}
#city-search::placeholder{
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.recherche p{
    margin-bottom: 1.5em;
    font-size: 18px;
}

.recherche h1{
    margin-bottom: 0.5em;
    font-size: 30px;
    font-weight: bold;
}

/* Flitres*/

.choix_filtres{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.bouton_filtre{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: max-content;
    margin-right: 2em;
    border : 2px solid #F2F2F2;
    border-radius: 50px;
    background-color: white;
    height: 2.1em;
    padding-right: 1em;
    justify-content: space-between;
}

.choix_filtres :hover {
    background-color:#DEEBFF;
    cursor: pointer;
}

.filtres{
    display: flex;
    justify-content: space-around;
    
    width: min-content;
    align-items: center;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    margin-right: 2em;
    margin-left: 3em;
    
}

.titre_filtre{
    margin-right: 2em; 
    
}

.titre_filtre h3{
    font-size: 23px;
}

.filtres p{
    font-size: 23px;
    font-weight: bold;
}

.choix_filtres i{
    color :#0065FC;
    margin-right: 1em;
    background-color: #DEEBFF;
    border: 3px solid #DEEBFF;
    border-radius: 50px;
    width: 1.9em;
    height: 1.9em;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Info*/
.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 2em;
    margin-right: 2em;
    margin-left: 3em;
}

.info i{
    color: #0065FC;
    border: 1px solid #F2F2F2;
    border-radius: 50px;
    width: 1.5em;
    height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
}
 .info p{
    font-size: 15px;
 }
/* central populaire*/

h3{
    font-weight: bold;
    font-size: large;
}

h2{
    font-size: 23px;
    font-weight: bold;
    margin-top: 1.5em;
    
   
}
p{
    font-size: small;
}



#central{
    height: 700px;
    width: 95vw ;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-bottom: 2em;
}

.etoiles {
    color: #0065FC;
    display: flex;
   
}

.etoileoff{
    display: flex;
    color: #e4e3e3;
}

.populaires{
    background-color: #F2F2F2;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    width: 29%;
    height: 47em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#populaire_haut{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 2em;
    margin-right: 2em;

}

.hotel_populaire {
    display: flex;
    flex-direction: row;
    border: 4px solid white;
    border-radius: 25px;
    background-color: white;
    overflow: hidden;
    height: 11em;
    margin: 1em 1.5em 2em 1.5em;
    box-shadow: 0 0 0.5em rgb(226, 226, 226);
}

.hotel_populaire img {
    width: 45%;
    max-height: max-content;
    object-fit: cover;

}

.description_populaire {
    margin-left: 1.5em;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    
}

.description_populaire h3{
    margin: 0.5em 0.5em 0.2em 0.3em;
}

.description_populaire p{
    margin: 0em 0.5em 5em 0.4em;
}

.description_populaire .etoiles{
    margin: 0.1em 0.1em 0.1em 0.3em;
}
.lien_pop{
    text-decoration: none;
    color: black;
}

/* central herbergement*/

.hebergement{
    width: 68%;
    height: 47em;
    background-color: #F2F2F2;
    border-radius: 25px;
    

}

.hebergement h2 {
    margin-left: 1em;
    margin-top: 1.5em;
    margin-bottom: 37px;
    font-size: 23px;
    font-weight: bold;
    
}

.grid_herbergement{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0.5em;
    position: relative;
    justify-content: space-around;
    align-items: center;
    
}

.lien_hebergement {
    background-color: white;
    width: 30%;
    height: 16em;
    border-radius: 25px;
    text-decoration: none;
    color: black;
    margin-bottom: 2em;
    box-shadow: 0 0 0.5em rgb(226, 226, 226);
    border: 4px solid white;
}

.hotel_hebergement img{
    width: 100%;
    height: 11em;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;  
}

.description_hebergement{
    display: flex;
    flex-direction: column ;
    align-items: flex-start;
    margin: 0em 0em 5em 0.5em;
    max-height: max-content;
}

.description_hebergement h3{
    margin: 0.5em 0.5em 0.2em 0.5em;
}

.description_hebergement p{
    margin: 0em 0.5em 0.5em 0.6em;
}

.description_hebergement .etoiles{
    margin: 0.1em 0.1em 0.1em 0.5em;
}

 


.hebergement a{
    text-decoration: none;
    color: black;
    
}

.hebergement .afficherplus {
    text-decoration: none;
    font-weight: bold;
    color: black;
    margin-left: 1.5em;
    
}

/*Activité*/


.activites{
    
    display: flex;
    flex-direction: column;
    
    flex-wrap: wrap;
    ;
    margin-left: 1em;
   
   
    
}

.activites h2{
    margin-top: 4em;
    margin-left: 1em;
    font-size: 23px;
}

.activites h3{
    margin-bottom: 27px;
    font-size: large;
}

.grid_activites{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 43em;
    justify-content:space-around;
    
    
}

.grid_activites a{
    text-decoration: none;
    color: black;
}

.img_column1{
    width: 20%;
    margin-right: 2.5em;
}
.column1{
    
    width: 100%;
    overflow: hidden;
    height: 40em;
    border-radius: 25px;
    box-shadow: 0 0 0.5em rgb(226, 226, 226);

    
}

.column1 img{
    height: 36em;
    object-fit: cover;
}

.column1 h3{
    margin-left: 1em;
}

  

.column2{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-right: 2.5em;
}

.column2 .img_column21{
   
    height: 25em;
    width: 100%;
    border-radius: 25px;
    box-shadow: 0 0 0.5em rgb(226, 226, 226);
    margin-bottom: 2em;
    overflow: hidden;
}

.column2 h3{
    margin-left: 1em;
}

.column2 .img_column21 img{
    height: 21em;
    width: 32em;
    object-fit: cover;
}

.column2 .img_column22{
   
    height: 13em;
    width: 100%;
    border-radius: 25px;
    box-shadow: 0 0 0.5em rgb(226, 226, 226);
    overflow: hidden;
}


.column2 .img_column22 img{
    height: 9em;
    width: 32em;
    object-fit: cover;
}

.img_column3{
    width: 20%;
    margin-left: 0;
    margin-right: 2.5em;
}
.column3{
    
    width: 100%;
    overflow: hidden;
    height: 40em;
    border-radius: 25px;
    box-shadow: 0 0 0.5em rgb(226, 226, 226);
    
}

.column3 img{
    height: 36em;
    object-fit: cover;
}

.column3 h3{
    margin-left: 1em;
}

.column4{
    display: flex;
    flex-direction: column;
    width: 20%;
   

}

.column4 .img_column41{
   
    height: 25em;
    width: 100%;
    border-radius: 25px;
    box-shadow: 0 0 0.5em rgb(226, 226, 226);
    margin-bottom: 2em;
    overflow: hidden;
}

.column4 h3{
    margin-left: 1em;
}

.column4 .img_column41 img{
    height: 21em;
    width: 32em;
    object-fit: cover;
}

.column4 .img_column42{
   
    height: 13em;
    width: 100%;
    border-radius: 25px;
    box-shadow: 0 0 0.5em rgb(226, 226, 226);
    overflow: hidden;
}


.column4 .img_column42 img{
    height: 9em;
    width: 32em;
    object-fit: cover;
}

/*footer*/

footer{
    background-color: #F2F2F2;
    display: flex;
    justify-content:flex-start;
    height: 12em;
    padding-top: 1em;
    margin-top: 2em;
    overflow: hidden;
    width: 100%;
    
}

.apropos{
    display: flex;
    flex-direction: column;
    margin-left: 3em;
    margin-right: 25vw;
    
    
}

.apropos a{
    text-decoration: none;
    color :black;
    margin-bottom: 1em;
}


.noshebergements{
    display: flex;
    flex-direction: column; 
    margin-right : 25vw;
}

.noshebergements a{
    text-decoration: none;
    color :black;
    margin-bottom: 1em;
}

.assistance{
    display: flex;
    flex-direction: column;  
}

.assistance a{
    text-decoration: none;
    color :black;
    margin-bottom: 1em;
}




